<!-- Head -->
{{define "head"}}
{{$res := "account-roles" | .Loc.Localize}}
{{$entity := index .Data "account"}}
{{$title := concat (toTitle $entity.Username) $res}}
{{$title}}
{{end}}
<!-- Head -->

<!-- Body -->
{{define "body"}}
{{$data := .}}

<!-- Contextual bar -->
<!-- Contextual bar -->

<!-- Header -->
{{$res := "account-roles" | .Loc.Localize}}
{{$entity := index .Data "account"}}
{{$title := concat (toTitle $entity.Username) $res}}
{{template "header" $title}}
<!-- Header -->

<!-- List -->
{{template "roles" .}}
<!-- List -->

{{end}}
<!-- Body -->
