<!-- Head -->
{{define "head"}}
{{$res := "permission" | .Loc.Localize}}
{{$section := "index" | .Loc.Localize}}
{{$title := concat $res $section}}
{{$title}}
{{end}}
<!-- Head -->

<!-- Body -->
{{define "body"}}
{{$data := .}}

<!-- Contextual bar -->
{{template "ctxbar" .}}
<!-- Contextual bar -->

<!-- Header -->
{{$res := "permission" | .Loc.Localize}}
{{$section := "index" | .Loc.Localize}}
{{$title := concat $res $section}}
{{template "header" $title}}
<!-- Header -->

<!-- List -->
{{template "list" .}}
<!-- List -->

{{end}}
<!-- Body -->
