<!-- Head -->
{{define "head"}}
{{$res := "user" | .Loc.Localize}}
{{$section := "signin" | .Loc.Localize}}
{{$title := concat $res $section}}
{{$title}}
{{end}}
<!-- Head -->

<!-- Body -->
{{define "body"}}
{{$data := .}}

<!-- Contextual bar -->
{{template "ctxbar" .}}
<!-- Contextual bar -->

<!-- Header -->
{{$res := "user" | .Loc.Localize}}
{{$section := "signin" | .Loc.Localize}}
{{$title := concat $res $section}}
{{template "header" $title}}
<!-- Header -->

<!-- Form -->
{{template "signin" .}}
<!-- Form -->

{{end}}
<!-- Body -->
