<!-- Head -->
{{define "head"}}
{{$res := "resource-permissions" | .Loc.Localize}}
{{$entity := index .Data "resource"}}
{{$title := concat (toTitle $entity.Name) $res}}
{{$title}}
{{end}}
<!-- Head -->

<!-- Body -->
{{define "body"}}
{{$data := .}}

<!-- Contextual bar -->
<!-- Contextual bar -->

<!-- Header -->
{{$res := "resource-permissions" | .Loc.Localize}}
{{$entity := index .Data "resource"}}
{{$title := concat (toTitle $entity.Name) $res}}
{{template "header" $title}}
<!-- Header -->

<!-- List -->
{{template "permissions" .}}
<!-- List -->

{{end}}
<!-- Body -->
